/* Estilos para o ícone de tema em telas menores */
@media (max-width: 600px) {
    #theme-icon {
        top: 10px;
        right: 10px;
    }
}

/* Ajuste de largura para elementos em media queries */
@media (max-width: 600px) {
    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .carousel .item {
        width: 90%;
    }

    .input-group input,
    .input-group textarea {
        width: 100%;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .carousel .item {
        width: 45%;
    }
}

@media (min-width: 901px) {
    .carousel .item {
        width: 30%;
    }
}


/* Definindo fontes */
:root {
    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Apercu', sans-serif;
}

/* Definição de cores */
:root {
    --primary-color: #1a202c;
    --secondary-color: #2d3748;
    --accent-color: #238636;
    --accent-color-light: #81e6d9;
    --dark-mode-bg: #2d3748;
    --dark-mode-text: #edf2f7;
}

/* Resetando margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos básicos para o corpo do documento */
body {
    font-family: var(--font-primary);
    color: var(--primary-color);
    line-height: 1.6;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Modo escuro */
body.dark-mode {
    background-color: var(--dark-mode-bg);
    color: var(--dark-mode-text);
    transition: background-color 0.3s ease, color 0.3s ease;
}


/* Estilos para o ícone de tema */
#theme-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
}

#theme-icon svg {
    width: 20px;
    height: 20px;
    transition: fill 0.5s ease;
}

body.dark-mode #theme-icon svg {
    fill: var(--dark-mode-text);
}

/* Estilos atualizados para a navegação, logo e links */
nav {
    background-color: var(--primary-color);
    color: var(--dark-mode-text);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    font-family: var(--font-primary);
    background: url('img/logo-analist (2).png') no-repeat center center;
    background-size: contain;
    width: 100px;
    height: 80px;
    animation: pulse 2s infinite alternate;
    transition: all 0.3s ease;
}

.nav-links {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.nav-links li {
    margin-left: 20px;
    /* Substituir ou ajustar conforme necessário */
}

.nav-links li a {
    color: var(--dark-mode-text);
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links li:hover a {
    color: var(--accent-color);
}

/* Estilos para o conteúdo principal */
main {
    text-align: center;
    padding: 50px 0;
    background-color: var(--secondary-color);
    transition: all 0.3s ease;
}

/* Estilos para o cabeçalho */
header {
    background: url('img/cuboright.svg') no-repeat;
    background-size: 10%;
    background-position: right center;
    background-color: var(--secondary-color);
    padding: 50px 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('img/cuboright.svg');
    transition: all 0.5s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    animation: glow 2s infinite alternate;
}

.logo-header {
    font-size: 24px;
    font-weight: bold;
    font-family: var(--font-primary);
    background: url('img/logo-analist (2).png') no-repeat center center;
    background-size: contain;
    width: 100px;
    height: 80px;
    animation: pulse 2s infinite alternate;
    margin: 0 auto;
}

header:hover {
    background-size: 15%;
    background-color: var(--primary-color);
}

header h1 {
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
    color: var(--dark-mode-text);
}

header.dark-mode {
    background-color: var(--primary-color);
    color: var(--dark-mode-text);
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilos atualizados para a seção "Sobre" */
.about-content {
    background: var(--secondary-color);
    color: var(--dark-mode-text);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 4.0s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.about-content:hover {
    box-shadow: 0px 0px 30px var(--accent-color);
}

.about-content p {
    color: var(--dark-mode-text);
    line-height: 1.6;
}

/* Modo escuro */
@media (prefers-color-scheme: dark) {
    .about-content {
        background: var(--dark-mode-bg);
        color: var(--dark-mode-text);
    }

    .about-content:hover {
        box-shadow: 0px 0px 30px var(--accent-color-light);
    }

    .about-content p {
        color: var(--dark-mode-text);
    }
}

/* Definição da animação */
@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

.about-content.dark-mode {
    background: var(--dark-mode-bg);
    color: var(--dark-mode-text);
    transition: background 0.3s ease, color 0.3s ease;
}


/* Estilos para as seções */
section {
    background: url('img/cubo.svg') no-repeat;
    background-size: 3%;
    background-position: right center;
    padding: 50px 0;
}

/* Definição da animação */
@-webkit-keyframes kenburns-top {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }

    100% {
        -webkit-transform: scale(1.25) translateY(-15px);
        transform: scale(1.25) translateY(-15px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}

@keyframes kenburns-top {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }

    100% {
        -webkit-transform: scale(1.25) translateY(-15px);
        transform: scale(1.25) translateY(-15px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}

section.dark-mode {
    background: url('img/cubo-dark.svg') no-repeat;
    background-size: 3%;
    background-position: right center;
    padding: 50px 0;
    transition: background 0.3s ease;
}

/* seção IA */
#ai-section {
    background: var(--primary-color) url('img/luz.jpg') no-repeat center center;
    background-size: cover;
    color: var(--dark-mode-text);
    padding: 100px 0;
    -webkit-animation: kenburns-top 5s ease-out both;
    animation: kenburns-top 5s ease-out both;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.ai-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}

.ai-content {
    padding: 20px;
}

.ai-content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.ai-content p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 30px;
}

.ai-button {
    display: inline-block;
    background-color: var(--accent-color);
    color: var(--dark-mode-text);
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 1.2rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.ai-button:hover {
    background-color: red;
}

#ai-section.dark-mode {
    background: var(--primary-color) url('img/luz-dark.jpg') no-repeat center center;
    transition: background 0.3s ease;
}

/* Estilos atualizados para a lista de habilidades */
.skills-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    background: var(--secondary-color);
    border-radius: 20px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.skills-list li {
    margin: 10px;
    color: var(--dark-mode-text);
    padding: 20px;
    border-radius: 30px;
    transition: transform 0.3s ease, background 0.3s ease;
    background: var(--primary-color);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.skills-list li:hover {
    transform: scale(1.1);
    background: var(--accent-color);
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

/* Estilos para os projetos */
.project {
    background: url('img/cuboleft.svg') no-repeat;
    background-size: 10%;
    background-position: left center;
    margin-bottom: 20px;
}

.project a {
    display: block;
    margin-top: 10px;
    color: var(--accent-color);
    text-decoration: none;
}

.project video {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.project.dark-mode {
    background: url('img/cuboleft-dark.svg') no-repeat;
    transition: background 0.3s ease;
}

/* git-hub*/
.git {
    list-style: none;
    display: flex;
    justify-content: center;
    transition: all 0.5s;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    font-family: var(--font-primary);
    color: var(--primary-color);
    margin: auto;
}

.git a {
    color: var(--accent-color-light);
    text-decoration: none;
    margin: auto;
}

.git a:hover {
    color: var(--accent-color);
}

.git a i {
    transition: all 0.5s;
}

.git a:hover i {
    transform: scale(1.2);
}

/* Estilos para o carrossel */
.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 100%;
    justify-content: center;
    padding: 20px;
    background-color: var(--dark-mode-text);
    color: var(--dark-mode-text);
    box-sizing: border-box;
}

.carousel .item {
    flex: 0 0 auto;
    scroll-snap-align: start;
    width: 100%;
    max-width: 250px;
    transition: transform 0.5s;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 0 10px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    padding: 20px;
    box-sizing: border-box;
}

.carousel .item:hover {
    transform: scale(1.05);
}

.carousel .item:active {
    transform: scale(0.95);
}

/* Estilos FAQ */

.faq-section {
    width: 100%;
    margin: auto;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.faq-section h2 {
    text-align: center;
    color: #333;
    font-size: 2em;
}

.faq {
    margin-top: 20px;
}

.faq input {
    display: none;
}

.faq label {
    display: block;
    background-color: #333;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.faq label:hover {
    background-color: #444;
}

.faq p {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 10px;
    color: #666;
    line-height: 1.6;
}

.faq input:checked+label+p {
    max-height: 100px;
}

/* Estilos para o formulário de contato */


/* Ajuste whatsapp */
.whatsapp-button {
    cursor: pointer;
    color: white;
    background: #25D366;
    fill: white;
    width: 60px;
    height: 60px;
    z-index: 16777270;
    position: fixed;
    bottom: 0px;
    right: 0px;
    border: 0px;
    box-sizing: border-box;
    padding: 12px;
    margin: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: rgba(255, 255, 255, 0.5) 0px 1px 2px 0px inset, rgba(0, 0, 0, 0.1) 0px -4px 8px 0px inset, rgba(22, 22, 22, 0.5) 0.3em 0.3em 1.4em;
}

.whatsapp-button i {
    font-size: 24px;
}

/* Estilos para o rodapé */
footer {
    background-color: var(--primary-color);
    color: var(--dark-mode-text);
    padding: 20px;
    text-align: center;
}

.footer-social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    list-style: none;
    padding: 0;
}

.footer-social-icons .socialLink-2PyA13 {
    margin: 0 5px;
    width: 24px;
    height: 24px;
}

.footer-social-icons .socialLink-2PyA13 i {
    width: 100%;
    height: 100%;
    color: var(--dark-mode-text);
}

footer.dark-mode {
    background-color: var(--primary-color);
    color: var(--dark-mode-text);
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Animações */
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

/* Animações */
@keyframes glow {
    0% {
        box-shadow: 0 0 10px rgba(171, 227, 234, 0.5);
    }

    100% {
        box-shadow: 0 0 20px rgba(171, 227, 234, 0.8);
    }
}